[submodule "submodules/sam2"]
	path = submodules/sam2
	url = https://github.com/facebookresearch/sam2.git
[submodule "submodules/opensfm"]
	path = submodules/opensfm
	url = https://github.com/inuex35/ind-bermuda-opensfm.git
[submodule "submodules/lightglue"]
	path = submodules/lightglue
	url = https://github.com/cvg/LightGlue.git
[submodule "submodules/aliked"]
	path = submodules/aliked
	url = https://github.com/Shiaoming/ALIKED.git
[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = https://github.com/inuex35/gsplat.git
	branch = spherical_render
[submodule "submodules/Depth-Anything-V2"]
	path = submodules/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "submodules/depth_any_camera"]
	path = submodules/depth_any_camera
	url = https://github.com/DepthAnything/Depth-Any-Camera.git
